= form_for [:admin, :directories, @department], html: {class: "form-horizontal"} do |f|
  %fieldset
    %legend= "#{action_name == "new" ? "Создание" : "Редактирование"} записи"
    - if @department.errors.any?
      .alert.alert-danger.fade.in
        %button.close{:"data-dismiss" => "alert" }
          ×
        %h2= "Не удалось #{action_name == "new" ? "создать" : "отредактировать"} запись из-за ошибок:" 
        %ul
          - @department.errors.full_messages.each do |message|
            %li= message
    .form-group
      %label.col-md-2.contol-label= f.label :name
      .col-md-10.smart-form
        = label_tag :nil, class: "input #{"state-error" if !@department.errors[:name].empty? }" do
          = f.text_field :name

    .form-actions
      = f.submit "#{action_name == "new" ? "Создать" : "Отредактировать"}", class: "btn btn-lg btn-primary"
%br