%h1 Подразделения ТГМУ
= alerts_and_notices
%section#widget-grid
  .row
    %article.col-xs-12.col-sm-12.col-md-12.col-lg-12{width: "100%"}
      #wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false", "data-widget-togglebutton" => "false", "data-widget-deletebutton" => "false", "data-widget-fullscreenbutton" => "false", "data-widget-custombutton" => "false", "data-widget-sortable" => "false"}
        %header
          %h2
            Список подразделений
        %div
          .widget-body.no-padding
            %table#departments_table.table.table-striped.table-bordered.table-hover
              %thead
                %tr
                  %th{colspan: 2}
                    = link_to "Создать запись", "#/admin/directories/departments/new", class: "btn btn-primary"
                %tr
                  %td.hasinput
                    %input#name_filter.form-control.input-xs{type: "text", placeholder: "Подразделение", style: "width: 100%"}
                  %td.hasinput
                %tr
                  %th Подразделение
                  %th Действия
              %tbody

:coffeescript
  $ ->
    pageSetUp();

    responsiveHelper_dt_basic = undefined
    responsiveHelper_datatable_fixed_column = undefined
    responsiveHelper_datatable_col_reorder = undefined
    responsiveHelper_datatable_tabletools = undefined

    breakpointDefinition = { tablet : 1024, phone : 480 }

    $('#departments_table').DataTable( {
      "language": {
        "url": "/dataTables.ru_lang.json"
      },
      "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "Все"]],
      "serverSide": true,
      "autoWidth" : true,
      "ajax": {
        type: "POST",
        url: "/admin/directories/departments/get_table"
      },
      columns: [
        { "data": "name" },
        { "data": "actions" }
      ],
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'l' 'T' 'C>r>"+
            "t"+
            "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
      "preDrawCallback" : () ->
        if !responsiveHelper_datatable_fixed_column
          responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#departments_table'), breakpointDefinition)
      ,
      "rowCallback" : (nRow) ->
        responsiveHelper_datatable_fixed_column.createExpandIcon(nRow)
      ,
      "drawCallback" : (oSettings) ->
        responsiveHelper_datatable_fixed_column.respond();
      ,

      "oTableTools": {
        "aButtons": [
          "copy",
          "csv",
            {
              "sExtends": "print",
              "sMessage": "Подразделения ГБОУ ВПО ТГМУ <i>(Нажмите Esc для выхода)</i>"
            }
        ],
        "sSwfPath": "/tools/copy_csv_xls_pdf.swf"
      }

    } );

    $("#departments_table thead td input[type=text], #departments_table thead td select").on( 'keyup change', () -> 
      $('#departments_table').DataTable().column( $(this).parent().index()+':visible' ).search( this.value ).draw()
    );