!!!
%html#extr-page{:lang => "ru-ru"}
  %head
    %meta{:charset => "utf-8"}
    %title ТГМУ - Авторизация
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{content: "ТГМУ - Авторизация", name: "description"}/
    %meta{content: "Тихоокеанский государственный медицинский университет", name: "author"}/
    = stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700&subset=latin,cyrillic", rel: "stylesheet"}

  %body.animated.fadeInDown
    %header#header
      #logo-group
        %span#logo
          = link_to root_path do
            = image_tag asset_path("logo.png"), alt: "ТГМУ"
      %span#extr-page-header-space
        %span.hidden-mobile Не зарегистрированы?
        = link_to "СОЗДАТЬ АККАУНТ", new_user_registration_path, class: "btn btn-danger"
    #main{:role => "main"}
      #content.container
        .row
          .col-xs-12.col-sm-12.col-md-7.col-lg-8.hidden-xs.hidden-sm
            %h1.txt-color-red.login-header-big
              Тихоокеанский государственный
              %br
              медицинский университет
            .hero
              .pull-left.login-desc-box-l
                %h4.paragraph-header Добро пожаловать в Единую информационную систему ТГМУ!
              = image_tag asset_path("logo-big.png"), class: "pull-right display-image", alt: "", style: "width:300px"
            .row
              .col-xs-12.col-sm-12.col-md-6.col-lg-6
                %h5.about-heading Внимание преподавателей и зав. кафедрами!
                %p
                  Если вы принимали участие в заполнении "Рейтинговой системы" на сайте тгму.рф, вы можете использовать E-mail и пароль, использующийся в "Рейтинговой системе" для получения доступа к личному кабинету и дополнительным функциям сайта.
              .col-xs-12.col-sm-12.col-md-6.col-lg-6
                %h5.about-heading При возникновении технических вопросов
                %p
                  Обращайтесь по тел. (423) 242-96-32 (Внутренний - 14-41)
          .col-xs-12.col-sm-12.col-md-5.col-lg-4
            .well.no-padding
              = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "smart-form login-form client-form"}, novalidate: nil) do |f|
                %header
                  Авторизация
                %fieldset
                  - if alert
                    %section
                      .alert.alert-danger= alert
                  - if notice
                    %section
                      .alert.alert-success= notice
                  %section
                    = f.label :email
                    %label.input
                      %i.icon-append.fa.fa-user
                      = f.email_field :email, required: true
                      %b.tooltip.tooltip-top-right
                        %i.fa.fa-user.txt-color-white
                        Введите E-mail, который указывали при регистрации
                  %section
                    = f.label :password
                    %label.input
                      %i.icon-append.fa.fa-lock
                      = f.password_field :password, required: true
                      %b.tooltip.tooltip-top-right
                        %i.fa.fa-lock.txt-color-teal
                        Введите пароль
                    .note
                      = link_to "Забыли пароль?", new_user_password_path
                  - if devise_mapping.rememberable?
                    %section
                      %label.checkbox
                        = f.check_box :remember_me, checked: true
                        = succeed "Запомнить меня" do
                          %i
                  %section
                    = render "devise/shared/links"
                %footer
                  = f.submit "Авторизация", class: "btn btn-primary"
            
    = javascript_include_tag 'admin'
    :coffeescript
      runAllForms()

      $ ->

      	$("#new_user").validate({
      		rules : {
      			"user[email]" : {
      				required : true,
      				email : true
      			},
      			"user[password]": {
      				required : true,
      				minlength : 3,
      				maxlength : 20
      			}
      		},

      		messages : {
      			"user[email]" : {
      				required : 'Введите ваш E-mail',
      				email : 'Неверный формат E-mail'
      			},
      			"user[password]" : {
      				required : 'Введите пароль'
      			}
      		},

      		errorPlacement : (error, element) ->
      			error.insertAfter(element.parent());
      	})


