= form_for [:admin, @work], html: {class: "form-horizontal", id: "wizard", novalidate: true}, remote: true do |f|
  %fieldset
    %legend= "#{action_name == "new" ? "Создание" : "Редактирование"} записи"
    - if @work.errors.any?
      .alert.alert-danger.fade.in
        %button.close{:"data-dismiss" => "alert" }
          ×
        %h2= "Не удалось #{action_name == "new" ? "создать" : "отредактировать"} запись из-за ошибок:" 
        %ul
          - @work.errors.full_messages.each do |message|
            %li= message
    .widget-body.fuelux
      .wizard
        %ul.steps
          %li{"data-target" => "#step1", class: action_name == "new" ? "active" : ""}
            %span.badge.badge-info 1
            Шаг 1
            %span.chevron
          %li{"data-target" => "#step2", class: action_name == "new" ? "" : "active"}
            %span.badge.badge-info 2
            Шаг 2
            %span.chevron
        .actions
          %button.btn.btn-sm.btn-primary.btn-prev{type: "button"}
            %i.fa.fa-arrow-left
            Назад
          %button.btn.btn-sm.btn-success.btn-next{type: "button", "data-last" => "#{action_name == "new" ? "Создать" : "Редактировать"}"}
            Далее
            %i.fa.fa-arrow-right
      .step-content
        #step1.step-pane.smart-form{class: action_name == "new" ? "active" : ""}
          %br
          %h3
            %strong Шаг 1
            = " - выберите тип работы"
          = label_tag nil, class: "radio inline-block", style: "padding-top: 0" do
            = f.radio_button :inventory_move, 0, checked: @work.inventory_move == nil || @work.inventory_move == 0
            <i></i>
            Обычная работа
          = label_tag nil, class: "radio inline-block", style: "padding-top: 0" do
            = f.radio_button :inventory_move, 1, checked: @work.inventory_move == 1
            <i></i>
            Перенос мат. ценностей
          = label_tag nil, class: "radio inline-block", style: "padding-top: 0" do
            = f.radio_button :inventory_move, 2, checked: @work.inventory_move == 2
            <i></i>
            Работа + Перенос мат. ценностей
        #step2.step-pane{class: action_name == "new" ? "" : "active"}
          %br
          #ordinary_works{class: "#{"hidden" if @work.inventory_move == 1}" }
            %section
              .row
                %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
                  .jarviswidget.jarviswidget-color-red
                    %header
                      %h2
                        %strong Работа
                    %div
                      .widget-body
                        .form-group
                          .col-md-2
                          .col-md-10.smart-form
                            = label_tag nil, class: "checkbox inline-block", style: "padding-top: 0" do
                              = f.check_box :projector_job
                              <i></i>
                              = f.label :projector_job
                        #projector_jobs{class: "#{"hidden" unless @work.projector_job?}" }
                          %section
                            .row
                              %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
                                .jarviswidget.jarviswidget-color-blueDark
                                  %header
                                    %h2
                                      %strong Работа по обслуживанию проектора
                                  %div
                                    .widget-body
                                      .form-group
                                        %label.col-md-2.contol-label= f.label :projector
                                        .col-md-10.smart-form
                                          = f.hidden_field :projector_id, value: @work.projector.try(:name)
                                      .form-group
                                        .col-md-2
                                        .col-md-10.smart-form
                                          = label_tag nil, class: "checkbox inline-block", style: "padding-top: 0" do
                                            = f.check_box :projector_filter_clean
                                            <i></i>
                                            = f.label :projector_filter_clean
                                      .form-group
                                        .col-md-2
                                        .col-md-10.smart-form
                                          = label_tag nil, class: "checkbox inline-block", style: "padding-top: 0" do
                                            = f.check_box :projector_lamp_replace
                                            <i></i>
                                            = f.label :projector_lamp_replace
                                      .form-group
                                        .col-md-2
                                        .col-md-10.smart-form
                                          = label_tag nil, class: "checkbox inline-block", style: "padding-top: 0" do
                                            = f.check_box :projector_runtime_check
                                            <i></i>
                                            = f.label :projector_runtime_check
                                      #fg_projector_lamp_run_time.form-group{class: "#{"hidden" unless @work.projector_runtime_check?}"}
                                        %label.col-md-2.contol-label= f.label :projector_lamp_run_time
                                        .col-md-10.smart-form
                                          = label_tag :nil, class: "input #{"state-error" if !@work.errors[:projector_lamp_run_time].empty? }" do
                                            %i.icon-prepend.fa.fa-tachometer
                                            = f.text_field :projector_lamp_run_time, placeholder: "Наработка лампы"
                                      #fg_projector_filter_run_time.form-group{class: "#{"hidden" unless @work.projector_runtime_check?}"}
                                        %label.col-md-2.contol-label= f.label :projector_filter_run_time
                                        .col-md-10.smart-form
                                          = label_tag :nil, class: "input #{"state-error" if !@work.errors[:projector_filter_run_time].empty? }" do
                                            %i.icon-prepend.fa.fa-tachometer
                                            = f.text_field :projector_filter_run_time, placeholder: "Наработка фильтра"
                                      .form-group
                                        .col-md-2
                                        .col-md-10.smart-form
                                          = label_tag nil, class: "checkbox inline-block", style: "padding-top: 0" do
                                            = f.check_box :projector_other
                                            <i></i>
                                            = f.label :projector_other
                                      #fg_projector_other.form-group{class: "#{"hidden" unless @work.projector_other?}"}
                                        %label.col-md-2.contol-label= f.label :projector_other_description
                                        .col-md-10.smart-form
                                          = label_tag :nil, class: "input #{"state-error" if !@work.errors[:projector_other_description].empty? }" do
                                            %i.icon-prepend.fa.fa-tachometer
                                            = f.text_field :projector_other_description, placeholder: "Другое"
                        .form-group
                          .col-md-2
                          .col-md-10.smart-form
                            = label_tag nil, class: "checkbox inline-block", style: "padding-top: 0" do
                              = f.check_box :orgtechnik
                              <i></i>
                              = f.label :orgtechnik
                        #orgtechnik_jobs{class: "#{"hidden" unless @work.orgtechnik?}" }
                          %section
                            .row
                              %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
                                .jarviswidget.jarviswidget-color-blueDark
                                  %header
                                    %h2
                                      %strong Работа с оргтехникой
                                  %div
                                    .widget-body
                                      .form-group
                                        %label.col-md-2.contol-label= f.label :orgtechnik_inventory
                                        .col-md-10.smart-form
                                          = f.hidden_field :orgtechnik_inventory, value: @work.orgtechnik_inventory
                                      .form-group
                                        .col-md-2
                                        .col-md-10.smart-form
                                          = label_tag nil, class: "checkbox inline-block", style: "padding-top: 0" do
                                            = f.check_box :orgtechnik_toner_replace
                                            <i></i>
                                            = f.label :orgtechnik_toner_replace
                                      .form-group
                                        .col-md-2
                                        .col-md-10.smart-form
                                          = label_tag nil, class: "checkbox inline-block", style: "padding-top: 0" do
                                            = f.check_box :orgtechnik_print_replace
                                            <i></i>
                                            = f.label :orgtechnik_print_replace
                                      .form-group
                                        .col-md-2
                                        .col-md-10.smart-form
                                          = label_tag nil, class: "checkbox inline-block", style: "padding-top: 0" do
                                            = f.check_box :orgtechnik_other
                                            <i></i>
                                            = f.label :orgtechnik_other
                                      #fg_orgtechnik_other.form-group{class: "#{"hidden" unless @work.orgtechnik?}" }
                                        %label.col-md-2.contol-label= f.label :orgtechnik_other_description
                                        .col-md-10.smart-form
                                          = label_tag :nil, class: "input #{"state-error" if !@work.errors[:orgtechnik_other_description].empty? }" do
                                            %i.icon-prepend.fa.fa-tachometer
                                            = f.text_field :orgtechnik_other_description, placeholder: "Другое"
                        .form-group
                          %label.col-md-2.contol-label= f.label :work_type
                          .col-md-10.smart-form
                            = label_tag :nil, class: "select #{"state-error" if !@work.errors[:role].empty? }" do
                              = f.select :work_type, options_for_select(ItDepartmentWork::WORK_TYPE.collect{|v,i| [v, ItDepartmentWork::WORK_TYPE.index(v)]}, selected: @work.work_type)
                              %i
                        - if can? :change, :it_department_works_users
                          .form-group
                            %label.col-md-2.contol-label= f.label :user
                            .col-md-10.smart-form
                              = f.hidden_field :user_id, value: @work.user_id, "data-text" => @work.user.try(:name)
                        #fg_work_description.form-group{class: "#{"hidden" if @work.projector_other? or @work.orgtechnik_other?}"}
                          %label.col-md-2.contol-label= f.label :work_description
                          .col-md-10.smart-form
                            = label_tag :nil, class: "textarea #{"state-error" if !@work.errors[:work_description].empty? }" do
                              %i.icon-prepend.fa.fa-check-square-o
                              = f.text_area :work_description, placeholder: "Опишите поставленную задачу"

                        
                        .form-group
                          %label.col-md-2.contol-label= f.label :end_date
                          .col-md-10.smart-form
                            = label_tag :nil, class: "input #{"state-error" if !@work.errors[:end_date].empty? }" do
                              %i.icon-prepend.fa.fa-calendar
                              = f.text_field :end_date, class: "datepicker", placeholder: "Дата окончания", "data-dateformat" => "dd.mm.yy"
                        .form-group
                          %label.col-md-2.contol-label= f.label :department
                          .col-md-10.smart-form
                            = f.hidden_field :department_id, value: @work.department_id, "data-text" => @work.department.try(:name)
                        .form-group
                          %label.col-md-2.contol-label= f.label :detailed_client_place
                          .col-md-10.smart-form
                            = label_tag :nil, class: "input #{"state-error" if !@work.errors[:detailed_client_place].empty? }" do
                              %i.icon-prepend.fa.fa-building
                              = f.text_field :detailed_client_place, placeholder: "Корпус, этаж, кабинет"
                        .form-group
                          %label.col-md-2.contol-label= f.label :client_name
                          .col-md-10.smart-form
                            = label_tag :nil, class: "input #{"state-error" if !@work.errors[:client_name].empty? }" do
                              %i.icon-prepend.fa.fa-user
                              = f.text_field :client_name, placeholder: "Заказчик"
                        .form-group
                          %label.col-md-2.contol-label= f.label :client_telephone
                          .col-md-10.smart-form
                            = label_tag :nil, class: "input #{"state-error" if !@work.errors[:client_telephone].empty? }" do
                              %i.icon-prepend.fa.fa-phone
                              = f.text_field :client_telephone, placeholder: "Телефон заказчика"
                        .form-group
                          %label.col-md-2.contol-label= f.label :status
                          .col-md-10.smart-form
                            = label_tag :nil, class: "select #{"state-error" if !@work.errors[:status].empty? }" do
                              = f.select :status, options_for_select(ItDepartmentWork::STATUS.collect{|v,i| [v, ItDepartmentWork::STATUS.index(v)]}, selected: @work.status)
                              %i
                        - if @work.inventory_move != 2
                          .form-actions
                            = f.submit "#{action_name == "new" ? "Создать" : "Отредактировать"}", class: "btn btn-lg btn-primary", id: "hide_this_btn"
          #inventory_movings{class: "#{"hidden" if @work.inventory_move == 0 or @work.inventory_move == nil}" }
            %section
              .row
                %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
                  .jarviswidget.jarviswidget-color-red
                    %header
                      %h2
                        %strong Перемещение МТЦ
                    %div
                      .widget-body
                        .form-group
                          %label.col-md-2.contol-label= f.label :inventory_move_type
                          .col-md-10.smart-form
                            = label_tag :nil, class: "select #{"state-error" if !@work.errors[:inventory_move_type].empty? }" do
                              = f.select :inventory_move_type, options_for_select(ItDepartmentWork::INV_MOVE_TYPE, selected: @work.inventory_move_type)
                              %i
                        .form-group
                          %label.col-md-2.contol-label= f.label :inventory
                          .col-md-10.smart-form
                            = f.hidden_field :inventory, value: @work.inventory, "data-text" => Inventory.find_by(id: @work.inventory).try(:name)
                        .form-group
                          %label.col-md-2.contol-label= f.label :other_inventory
                          .col-md-10.smart-form
                            = label_tag :nil, class: "input #{"state-error" if !@work.errors[:other_inventory].empty? }" do
                              %i.icon-prepend.fa.fa-laptop
                              = f.text_field :other_inventory, placeholder: "Мат. ценности не указанные в базе"
                        .well
                          %legend Откуда перенесли
                          .form-group
                            %label.col-md-2.contol-label= f.label :from_department_id
                            .col-md-10.smart-form
                              = f.hidden_field :from_department_id, value: @work.from_department_id, "data-text" => Department.find_by(id: @work.from_department_id).try(:name)
                          .form-group
                            %label.col-md-2.contol-label= f.label :detailed_from_client_place
                            .col-md-10.smart-form
                              = label_tag :nil, class: "input #{"state-error" if !@work.errors[:detailed_from_client_place].empty? }" do
                                %i.icon-prepend.fa.fa-building
                                = f.text_field :detailed_from_client_place, placeholder: "Корпус, этаж, кабинет"
                          .form-group
                            %label.col-md-2.contol-label= f.label :inventory_move_from_client_name
                            .col-md-10.smart-form
                              = label_tag :nil, class: "input #{"state-error" if !@work.errors[:inventory_move_from_client_name].empty? }" do
                                %i.icon-prepend.fa.fa-user
                                = f.text_field :inventory_move_from_client_name, placeholder: "Предыдущий мат. ответственный"
                          .form-group
                            %label.col-md-2.contol-label= f.label :inventory_move_from_client_telephone
                            .col-md-10.smart-form
                              = label_tag :nil, class: "input #{"state-error" if !@work.errors[:inventory_move_from_client_telephone].empty? }" do
                                %i.icon-prepend.fa.fa-phone
                                = f.text_field :inventory_move_from_client_telephone, placeholder: "Телефон предыдущего мат. ответственного"
                        %br
                        .well
                          %legend Куда перенесли
                          .form-group
                            %label.col-md-2.contol-label= f.label :inventory_move_destination_department_id
                            .col-md-10.smart-form
                              = f.hidden_field :inventory_move_destination_department_id, value: @work.inventory_move_destination_department_id, "data-text" => Department.find_by(id: @work.inventory_move_destination_department_id).try(:name)
                          .form-group
                            %label.col-md-2.contol-label= f.label :inventory_move_destination_client_place
                            .col-md-10.smart-form
                              = label_tag :nil, class: "input #{"state-error" if !@work.errors[:inventory_move_destination_client_place].empty? }" do
                                %i.icon-prepend.fa.fa-building
                                = f.text_field :inventory_move_destination_client_place, placeholder: "Корпус, этаж, кабинет"
                          .form-group
                            %label.col-md-2.contol-label= f.label :inventory_move_destination_client_name
                            .col-md-10.smart-form
                              = label_tag :nil, class: "input #{"state-error" if !@work.errors[:inventory_move_destination_client_name].empty? }" do
                                %i.icon-prepend.fa.fa-user
                                = f.text_field :inventory_move_destination_client_name, placeholder: "Назначаемый мат. ответственный"
                          .form-group
                            %label.col-md-2.contol-label= f.label :inventory_move_destination_client_telephone
                            .col-md-10.smart-form
                              = label_tag :nil, class: "input #{"state-error" if !@work.errors[:inventory_move_destination_client_telephone].empty? }" do
                                %i.icon-prepend.fa.fa-phone
                                = f.text_field :inventory_move_destination_client_telephone, placeholder: "Телефон назначаемого мат. ответственного"
                        .form-actions
                          = f.submit "#{action_name == "new" ? "Создать" : "Отредактировать"}", class: "btn btn-lg btn-primary"


:coffeescript

  $ ->
    pageSetUp
    wizard = $('.wizard').wizard()
    wizard.on('finished', (e, data) ->
      $("#wizard").submit()
    )
    $("#it_department_work_inventory_move_0").click ->
      $("#hide_this_btn").show();
      $("#inventory_movings").addClass("hidden")
      $("#ordinary_works").removeClass("hidden")

    $("#it_department_work_inventory_move_1").click ->
      $("#hide_this_btn").show();
      $("#inventory_movings").removeClass("hidden")
      $("#ordinary_works").addClass("hidden")

    $("#it_department_work_inventory_move_2").click ->
      $("#hide_this_btn").hide();
      $("#inventory_movings").removeClass("hidden")
      $("#ordinary_works").removeClass("hidden")

    $("#it_department_work_projector_job").click () ->
      $("#projector_jobs").removeClass("hidden") if $("#it_department_work_projector_job").prop("checked")
      $("#projector_jobs").addClass("hidden") unless $("#it_department_work_projector_job").prop("checked")
    $("#it_department_work_orgtechnik").click () ->
      $("#orgtechnik_jobs").removeClass("hidden") if $("#it_department_work_orgtechnik").prop("checked")
      $("#orgtechnik_jobs").addClass("hidden") unless $("#it_department_work_orgtechnik").prop("checked")

    $("#it_department_work_projector_runtime_check").click () ->
      $("#fg_projector_filter_run_time, #fg_projector_lamp_run_time").removeClass("hidden") if $("#it_department_work_projector_runtime_check").prop("checked")
      $("#fg_projector_filter_run_time, #fg_projector_lamp_run_time").addClass("hidden") unless $("#it_department_work_projector_runtime_check").prop("checked")
    $("#it_department_work_projector_other").click () ->
      $("#fg_projector_other").removeClass("hidden") if $("#it_department_work_projector_other").prop("checked")
      $("#fg_projector_other").addClass("hidden") unless $("#it_department_work_projector_other").prop("checked")
    $("#it_department_work_orgtechnik_other").click () ->
      $("#fg_orgtechnik_other").removeClass("hidden") if $("#it_department_work_orgtechnik_other").prop("checked")
      $("#fg_orgtechnik_other").addClass("hidden") unless $("#it_department_work_orgtechnik_other").prop("checked")

    $("#it_department_work_projector_id").select2({
      width: "100%",
      placeholder: "Выберите проектор",
      ajax: {
        url: "/admin/it_department/works/get_select_data/projector",
        dataType: "json",
        data: (term, page) ->
          return { q: term }
        ,
        results: (data, page) ->
          return { results: data.results }        
      },
      initSelection: (element, callback) ->
        data = {id: element.attr("id"), text: element.val()}
        callback(data)
    })

    $("#it_department_work_orgtechnik_inventory, #it_department_work_inventory").select2({
      width: "100%",
      placeholder: "Выберите оборудование",
      ajax: {
        url: "/admin/it_department/works/get_select_data/inventory",
        dataType: "json",
        data: (term, page) ->
          return { q: term }
        ,
        results: (data, page) ->
          return { results: data.results }        
      },
      initSelection: (element, callback) ->
        data = {id: element.attr("id"), text: element.attr("data-text")}
        callback(data)
    })

    $("#it_department_work_user_id").select2({
      width: "100%",
      placeholder: "Выберите исполнителя",
      ajax: {
        url: "/admin/it_department/works/get_select_data/user",
        dataType: "json",
        data: (term, page) ->
          return { q: term }
        ,
        results: (data, page) ->
          return { results: data.results }        
      },
      initSelection: (element, callback) ->
        data = {id: element.attr("id"), text: element.attr("data-text")}
        callback(data)
    })

    $("#it_department_work_department_id, #it_department_work_from_department_id, #it_department_work_inventory_move_destination_department_id").select2({
      width: "100%",
      placeholder: "Выберите подразделение",
      ajax: {
        url: "/admin/it_department/works/get_select_data/department",
        dataType: "json",
        data: (term, page) ->
          return { q: term }
        ,
        results: (data, page) ->
          return { results: data.results }        
      },
      initSelection: (element, callback) ->
        data = {id: element.attr("id"), text: element.attr("data-text")}
        callback(data)
    })