%h1#it_department_works_index Планировщик работ IT-Отдела
= alerts_and_notices
%p= link_to "Создать задание", admin_index_path(anchor: new_admin_it_department_work_path), class: "btn btn-primary btn-lg"
%section#widget-grid
  .row
    %article.col-xs-12.col-sm-12.col-md-12.col-lg-12{width: "100%"}
      #wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false", "data-widget-togglebutton" => "false", "data-widget-deletebutton" => "false", "data-widget-fullscreenbutton" => "false", "data-widget-custombutton" => "false", "data-widget-sortable" => "false"}
        %header
          %h2
            Список заданий
        %div
          .widget-body
            %ul#works.nav.nav-tabs.bordered
              %li.active
                %a{href: "#s1", "data-toggle" => "tab"}
                  %i.fa.fa-laptop
                  Постоянные работы
              %li
                %a{href: "#s2", "data-toggle" => "tab"}
                  %i.fa.fa-retweet
                  Перемещение МТЦ
              %li
                %a{href: "#s3", "data-toggle" => "tab"}
                  %i.fa.fa-video-camera
                  Обслуживание проекторов

            #works_content.tab-content.padding-10
              #s1.tab-pane.fade.in.active
                %div
                  %table#regular_works_table.table.table-striped.table-bordered.table-hover{width: "100%"}
                    %thead
                      %tr
                        %td.hasinput.icon-addon
                          %input#created_at_filter.form-control.datepicker.input-xs{type: "text", placeholder: "Дата создания", "data-dateformat" => "yy-mm-dd", style: "width: 100%"}
                          %label.glyphicon.glyphicon-calendar.no-margin{for: "created_at_filter", rel: "tooltip", title: "", "data-original-title" => "Дата создания", style: "padding: 12px 0 0 10px"}
                        %td.hasinput
                          %input#work_description_filter.form-control.input-xs{type: "text", placeholder: "Задача", style: "width: 100%"}
                        %td.hasinput
                          %input#user_filter.form-control.input-xs{type: "text", placeholder: "Исполнитель", style: "width: 100%"}
                        %td.hasinput
                          %select#work_type_filter.form-control.input-xs{style: "width: 100%"}
                            %option{value: ""} Срочность
                            %option{value: "0"} В течение дня
                            %option{value: "1"} В течение недели
                            %option{value: "2"} В течение двух недель
                            %option{value: "3"} Более двух недель
                            %option{value: "4"} Администратор
                        %td.hasinput
                          %select#orgtechnik_filter.form-control.input-xs{style: "width: 100%"}
                            %option{value: ""} Оргтехника
                            %option{value: "false"} Нет
                            %option{value: "true"} Да
                        %td.hasinput
                          %input#department_filter.form-control.input-xs{type: "text", placeholder: "Подразделение", style: "width: 100%"}
                        %td.hasinput
                          %input#client_name_filter.form-control.input-xs{type: "text", placeholder: "Заказчик", style: "width: 100%"}
                        %td.hasinput
                          %input#client_telephone_filter.form-control.input-xs{type: "text", placeholder: "Телефон заказчика", style: "width: 100%"}
                        %td.hasinput.icon-addon
                          %input#end_date_at_filter.form-control.datepicker.input-xs{type: "text", placeholder: "Дата окончания", "data-dateformat" => "yy-mm-dd", style: "width: 100%"}
                          %label.glyphicon.glyphicon-calendar.no-margin{for: "created_at_filter", rel: "tooltip", title: "", "data-original-title" => "Дата создания", style: "padding: 12px 0 0 10px"}
                        %td.hasinput
                          %select#status_filter.form-control.input-xs{style: "width: 100%"}
                            %option{value: ""} Статус
                            %option{value: "0"} Запланировано
                            %option{value: "1"} Невыполнимо
                            %option{value: "2"} Выполнено
                        %td.hasinput
                          %button#reset_regular_works_table_filter.btn.btn-default.btn-xs Сброс
                      %tr
                        %th{"data-hide" => "phone,tablet"} Дата создания
                        %th{"data-class" => "expand"} Задача
                        %th Исполнитель
                        %th{"data-hide" => "phone,tablet"} Срочность
                        %th{"data-hide" => "phone,tablet"} Оргтехника
                        %th{"data-hide" => "phone"} Подразделение
                        %th{"data-hide" => "phone"} Заказчик
                        %th{"data-hide" => "phone,tablet"} Телефон заказчика
                        %th{"data-hide" => "phone,tablet"} Дата окончания
                        %th Статус
                        %th{"data-hide" => "phone,tablet"} Действия
                    %tbody
              #s2.tab-pane.fade
                %table#inventory_move_table.table.table-striped.table-bordered.table-hover{width: "100%"}
                  %thead
                    %tr
                      %td.hasinput.icon-addon
                        %input#created_at_filter2.form-control.datepicker.input-xs{type: "text", placeholder: "Дата создания", "data-dateformat" => "yy-mm-dd", style: "width: 100%"}
                        %label.glyphicon.glyphicon-calendar.no-margin{for: "created_at_filter", rel: "tooltip", title: "", "data-original-title" => "Дата создания", style: "padding: 12px 0 0 10px"}
                      %td.hasinput
                        %input#user_filter.form-control.input-xs{type: "text", placeholder: "Исполнитель", style: "width: 100%"}
                      %td.hasinput
                        %input#inventory_filter.form-control.input-xs{type: "text", placeholder: "Инв. номер или название МТЦ", style: "width: 100%"}
                      %td.hasinput
                        %input#other_inventory_filter.form-control.input-xs{type: "text", placeholder: "Другое МТЦ", style: "width: 100%"}
                      %td.hasinput
                        %input#from_department_id_filter.form-control.input-xs{type: "text", placeholder: "Исходное подразделение", style: "width: 100%"}
                      %td.hasinput
                        %input#detailed_from_client_place_filter.form-control.input-xs{type: "text", placeholder: "Корпус, этаж, кабинет", style: "width: 100%"}
                      %td.hasinput
                        %input#inventory_move_from_client_name_filter.form-control.input-xs{type: "text", placeholder: "Предыдущий мат. ответственный", style: "width: 100%"}
                      %td.hasinput
                        %input#inventory_move_from_client_telephone_filter.form-control.input-xs{type: "text", placeholder: "Телефон предыдущего мат. ответственного", style: "width: 100%"}
                      %td.hasinput
                        %input#inventory_move_destination_department_id_filter.form-control.input-xs{type: "text", placeholder: "Конечное подразделение", style: "width: 100%"}
                      %td.hasinput
                        %input#inventory_move_destination_client_place_filter.form-control.input-xs{type: "text", placeholder: "Корпус, этаж, кабинет", style: "width: 100%"}
                      %td.hasinput
                        %input#inventory_move_destination_client_name_filter.form-control.input-xs{type: "text", placeholder: "Назначенный мат. ответственный", style: "width: 100%"}
                      %td.hasinput
                        %input#inventory_move_destination_client_telephone_filter.form-control.input-xs{type: "text", placeholder: "Телефон назначенного мат. ответственного", style: "width: 100%"}
                      %td.hasinput
                        %button#reset_inventory_move_table_filter.btn.btn-default.btn-xs Сброс
                    %tr
                      %th{"data-hide" => "phone,tablet"} Дата создания
                      %th Исполнитель
                      %th{"data-class" => "expand"} МТЦ
                      %th Другое МТЦ
                      %th Исходное подразделение
                      %th{"data-hide" => "phone,tablet"} Корпус, этаж, кабинет
                      %th{"data-hide" => "phone"} Предыдущий мат. ответственный
                      %th{"data-hide" => "phone"} Телефон предыдущего мат. ответственного
                      %th Конечное подразделение
                      %th{"data-hide" => "phone,tablet"} Корпус, этаж, кабинет
                      %th{"data-hide" => "phone"} Назначенный мат. ответственный
                      %th{"data-hide" => "phone"} Телефон назначенного мат. ответственного
                      %th{"data-hide" => "phone,tablet"} Действия
                  %tbody
              #s3.tab-pane.fade
                %table#projector_jobs_table.table.table-striped.table-bordered.table-hover{width: "100%"}
                  %thead
                    %tr
                      %td.hasinput.icon-addon
                        %input#created_at_filter3.form-control.datepicker.input-xs{type: "text", placeholder: "Дата создания", "data-dateformat" => "yy-mm-dd", style: "width: 100%"}
                        %label.glyphicon.glyphicon-calendar.no-margin{for: "created_at_filter", rel: "tooltip", title: "", "data-original-title" => "Дата создания", style: "padding: 12px 0 0 10px"}
                      %td.hasinput
                        %input#projector_filter.form-control.input-xs{type: "text", placeholder: "Проектор", style: "width: 100%"}
                      %td.hasinput
                        %input#user_filter3.form-control.input-xs{type: "text", placeholder: "Исполнитель", style: "width: 100%"}
                      %td.hasinput
                        %select#filter_clean_filter.form-control.input-xs{style: "width: 100%"}
                          %option{value: ""} Чистка фильтра
                          %option{value: "false"} Нет
                          %option{value: "true"} Да
                      %td.hasinput
                        %select#lamp_replace_filter.form-control.input-xs{style: "width: 100%"}
                          %option{value: ""} Замена лампы
                          %option{value: "false"} Нет
                          %option{value: "true"} Да
                      %td.hasinput
                        %select#runtime_check_filter.form-control.input-xs{style: "width: 100%"}
                          %option{value: ""} Проверка наработки
                          %option{value: "false"} Нет
                          %option{value: "true"} Да
                      %td.hasinput
                        %select#other_filter.form-control.input-xs{style: "width: 100%"}
                          %option{value: ""} Другое
                          %option{value: "false"} Нет
                          %option{value: "true"} Да
                      %td.hasinput
                        %input#lamp_runtime_filter.form-control.input-xs{type: "text", placeholder: "Наработка лампы", style: "width: 100%"}
                      %td.hasinput
                        %input#filter_runtime_filter.form-control.input-xs{type: "text", placeholder: "Наработка фильтра", style: "width: 100%"}
                      %td.hasinput
                        %button#reset_projector_jobs_table_filter.btn.btn-default.btn-xs Сброс
                    %tr
                      %th{"data-hide" => "phone,tablet"} Дата создания
                      %th{"data-class" => "expand"} Проектор
                      %th{"data-hide" => "phone"} Исполнитель
                      %th{"data-hide" => "phone"} Чистка фильтра
                      %th{"data-hide" => "phone"} Замена лампы
                      %th{"data-hide" => "phone"} Проверка наработки
                      %th{"data-hide" => "phone"} Другое
                      %th{"data-hide" => "phone"} Наработка лампы
                      %th{"data-hide" => "phone"} Наработка фильтра
                      %th{"data-hide" => "phone,tablet"} Действия
                  %tbody


:coffeescript
  $ ->
    pageSetUp();

    responsiveHelper_regular_works_table = undefined
    responsiveHelper_inventory_move_table = undefined
    responsiveHelper_projector_jobs_table = undefined

    breakpointDefinition = { tablet : 1024, phone : 480 }

    $("#regular_works_table").DataTable({
      "language": {
        "url": "/dataTables.ru_lang.json"
      },
      "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "Все"]],
      "stateSave": true,
      "serverSide": true,
      "ajax": {
        type: "POST",
        url: "/admin/it_department/works/get_works"
      },
      "order": [[ 0, "desc" ]],
      columns: [
        { "data": "it_department_works.created_at" },
        { "data": "work_description" },
        { "data": "users.name" },      
        { "data": "work_type" },
        { "data": "orgtechnik" },
        { "data": "departments.name" },
        { "data": "client_name" },
        { "data": "client_telephone" },
        { "data": "end_date" },
        { "data": "status" },
        { "data": "actions", "sortable": false }
      ],
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-4'f><'col-sm-8 col-xs-6 hidden-xs'l' 'T' 'C>r>"+
            "t"+
            "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
      "autoWidth" : true,
      "preDrawCallback" : () ->
        if !responsiveHelper_regular_works_table
          responsiveHelper_regular_works_table = new ResponsiveDatatablesHelper($('#regular_works_table'), breakpointDefinition)
      ,
      "rowCallback" : (nRow) ->
        responsiveHelper_regular_works_table.createExpandIcon(nRow)
      ,
      "drawCallback" : (oSettings) ->
        responsiveHelper_regular_works_table.respond();
      ,
      "oTableTools": {
        "aButtons": [
            {
              "sExtends": "copy",
              "sButtonText": "Копировать",
            },
            {
              "sExtends": "csv",
              "sButtonText": "CSV",
            },
            {
              "sExtends": "print",
              "sButtonText": "Печать",
              "sMessage": "Работы IT-отдела ГБОУ ВПО ТГМУ <i>(Нажмите Esc для выхода)</i>",
            }
        ],
        "sSwfPath": "/tools/copy_csv_xls_pdf.swf"
      },
      "oColVis": {
        "buttonText": "Выбрать столбцы"
      }
      })

    $("#inventory_move_table").DataTable({
      "language": {
        "url": "/dataTables.ru_lang.json"
      },
      "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "Все"]],
      "stateSave": true,
      "serverSide": true,
      "ajax": {
        type: "POST",
        url: "/admin/it_department/works/get_inventory_movings"
      },
      "order": [[ 0, "desc" ]],
      columns: [
        { "data": "it_department_works.created_at" },
        { "data": "users.name" },
        { "data": "inventory" },
        { "data": "other_inventory" },      
        { "data": "departments.name" },
        { "data": "detailed_client_place" },
        { "data": "inventory_move_from_client_name" },
        { "data": "inventory_move_from_client_telephone" },
        { "data": "inventory_move_destination_department_id" },
        { "data": "inventory_move_destination_client_place" },
        { "data": "inventory_move_destination_client_name" },
        { "data": "inventory_move_destination_client_telephone" },
        { "data": "actions", "sortable": false }
      ],
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-4'f><'col-sm-8 col-xs-6 hidden-xs'l' 'T' 'C>r>"+
            "t"+
            "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
      "autoWidth" : true,
      "preDrawCallback" : () ->
        if !responsiveHelper_inventory_move_table
          responsiveHelper_inventory_move_table = new ResponsiveDatatablesHelper($('#inventory_move_table'), breakpointDefinition)
      ,
      "rowCallback" : (nRow) ->
        responsiveHelper_inventory_move_table.createExpandIcon(nRow)
      ,
      "drawCallback" : (oSettings) ->
        responsiveHelper_inventory_move_table.respond();
      ,
      "oTableTools": {
        "aButtons": [
            {
              "sExtends": "copy",
              "sButtonText": "Копировать",
            },
            {
              "sExtends": "csv",
              "sButtonText": "CSV",
            },
            {
              "sExtends": "print",
              "sButtonText": "Печать",
              "sMessage": "Работы IT-отдела ГБОУ ВПО ТГМУ <i>(Нажмите Esc для выхода)</i>",
            }
        ],
        "sSwfPath": "/tools/copy_csv_xls_pdf.swf"
      },
      "oColVis": {
        "buttonText": "Выбрать столбцы"
      }
      })

    $("#projector_jobs_table").DataTable({
      "language": {
        "url": "/dataTables.ru_lang.json"
      },
      "lengthMenu": [[50, 100, 200, -1], [50, 100, 200, "Все"]],
      "stateSave": true,
      "serverSide": true,
      "ajax": {
        type: "POST",
        url: "/admin/it_department/works/get_projector_jobs"
      },
      "order": [[ 0, "desc" ]],
      columns: [
        { "data": "it_department_works.created_at" },
        { "data": "projectors.name" },
        { "data": "users.name" },
        { "data": "projector_filter_clean" },
        { "data": "projector_lamp_replace" },
        { "data": "projector_runtime_check" },
        { "data": "projector_other" },
        { "data": "projector_lamp_run_time" },
        { "data": "projector_filter_run_time" },
        { "data": "actions", "sortable": false }
      ],
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-4'f><'col-sm-8 col-xs-6 hidden-xs'l' 'T' 'C>r>"+
            "t"+
            "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
      "autoWidth" : true,
      "preDrawCallback" : () ->
        if !responsiveHelper_projector_jobs_table
          responsiveHelper_projector_jobs_table = new ResponsiveDatatablesHelper($('#projector_jobs_table'), breakpointDefinition)
      ,
      "rowCallback" : (nRow) ->
        responsiveHelper_projector_jobs_table.createExpandIcon(nRow)
      ,
      "drawCallback" : (oSettings) ->
        responsiveHelper_projector_jobs_table.respond();
      ,
      "oTableTools": {
        "aButtons": [
            {
              "sExtends": "copy",
              "sButtonText": "Копировать",
            },
            {
              "sExtends": "csv",
              "sButtonText": "CSV",
            },
            {
              "sExtends": "print",
              "sButtonText": "Печать",
              "sMessage": "Работы IT-отдела ГБОУ ВПО ТГМУ <i>(Нажмите Esc для выхода)</i>",
            }
        ],
        "sSwfPath": "/tools/copy_csv_xls_pdf.swf"
      },
      "oColVis": {
        "buttonText": "Выбрать столбцы"
      }
    })

    $("#regular_works_table thead td input[type=text], #regular_works_table thead td select").on( 'keyup change', () -> 
      $('#regular_works_table').DataTable().column( $(this).parent().index()+':visible' ).search( this.value ).draw()
    )
    $("#inventory_move_table thead td input[type=text], #inventory_move_table thead td select").on( 'keyup change', () -> 
      $('#inventory_move_table').DataTable().column( $(this).parent().index()+':visible' ).search( this.value ).draw()
    )
    $("#projector_jobs_table thead td input[type=text], #projector_jobs_table thead td select").on( 'keyup change', () -> 
      $('#projector_jobs_table').DataTable().column( $(this).parent().index()+':visible' ).search( this.value ).draw()
    )

    oSettings = $("#regular_works_table").dataTable().fnSettings()
    columns = $('#regular_works_table thead td');

    oSettings1 = $("#inventory_move_table").dataTable().fnSettings()
    columns1 = $('#inventory_move_table thead td');

    oSettings2 = $("#projector_jobs_table").dataTable().fnSettings()
    columns2 = $('#projector_jobs_table thead td');

    columns.each (index) -> 
      search_string = oSettings.aoPreSearchCols[index].sSearch
      $(this).find('input, select').val(search_string) if search_string != ""

    columns1.each (index) -> 
      search_string = oSettings1.aoPreSearchCols[index].sSearch
      $(this).find('input, select').val(search_string) if search_string != ""

    columns2.each (index) -> 
      search_string = oSettings2.aoPreSearchCols[index].sSearch
      $(this).find('input, select').val(search_string) if search_string != ""

    $("#reset_regular_works_table_filter").click () ->
      for iCol in [0..oSettings.aoPreSearchCols.length - 1]
        oSettings.aoPreSearchCols[ iCol ].sSearch = ''
      $("#regular_works_table").dataTable().fnDraw()
      $("#regular_works_table thead td input[type=text], #regular_works_table thead td select").val("")
    $("#reset_inventory_move_table_filter").click () ->
      for iCol in [0..oSettings1.aoPreSearchCols.length - 1]
        oSettings1.aoPreSearchCols[ iCol ].sSearch = ''
      $("#inventory_move_table").dataTable().fnDraw()
      $("#inventory_move_table thead td input[type=text], #inventory_move_table thead td select").val("")
    $("#reset_projector_jobs_table_filter").click () ->
      for iCol in [0..oSettings2.aoPreSearchCols.length - 1]
        oSettings2.aoPreSearchCols[ iCol ].sSearch = ''
      $("#projector_jobs_table").dataTable().fnDraw()
      $("#projector_jobs_table thead td input[type=text], #inventory_move_table thead td select").val("")