= alerts_and_notices
%section#widget-grid
  .row
    %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
      #wid-id-1.jarviswidget.jarviswidget-color-darken{:"data-widget-colorbutton" => "false", :"data-widget-editbutton" => "false", :"data-widget-sortable" => "false", :"data-widget-togglebutton" => "false", :"data-widget-deletebutton" => "false", :"data-widget-fullscreenbutton" => "false"}
        %header
          %h2
            %strong Просмотр работы
        %div
          .widget-body
            %table.table.table-bordered.table-striped.table-hover
              - if @work.projector_job?
                %tr
                  %td.col-md-2 Работа связана с проекторами
                  %td.col-md-10
                    %i.fa.fa-check-square-o
                %tr
                  %td.col-md-2 Проектор
                  %td.col-md-10= @work.projector.name
                %tr
                  %td.col-md-2 Чистка фильтра
                  %td.col-md-10= @work.projector_filter_clean? ? "<i class='fa fa-check-square-o'></i>".html_safe : "<i class='fa fa-square-o'></i>".html_safe
                %tr
                  %td.col-md-2 Замена лампы
                  %td.col-md-10= @work.projector_lamp_replace? ? "<i class='fa fa-check-square-o'></i>".html_safe : "<i class='fa fa-square-o'></i>".html_safe
                %tr
                  %td.col-md-2 Проверка наработки
                  %td.col-md-10= @work.projector_runtime_check? ? "<i class='fa fa-check-square-o'></i>".html_safe : "<i class='fa fa-square-o'></i>".html_safe
                %tr
                  %td.col-md-2 Другое
                  %td.col-md-10= @work.projector_other? ? @work.projector_other_description : "<i class='fa fa-square-o'></i>".html_safe
                %tr
                  %td.col-md-2 Наработка фильтра
                  %td.col-md-10= @work.projector_filter_run_time
                %tr
                  %td.col-md-2 Наработка лампы
                  %td.col-md-10= @work.projector_lamp_run_time
              - if @work.orgtechnik?
                %tr
                  %td.col-md-2 Работа связана с оргтехникой
                  %td.col-md-10
                    %i.fa.fa-check-square-o
                %tr
                  %td.col-md-2 Оргтехника
                  %td.col-md-10= @work.orgtechnik_inventory.try(:name)
                %tr
                  %td.col-md-2 Замена тонер-картриджа
                  %td.col-md-10= @work.orgtechnik_toner_replace? ? "<i class='fa fa-check-square-o'></i>".html_safe : "<i class='fa fa-square-o'></i>".html_safe
                %tr
                  %td.col-md-2 Замена принт-картриджа
                  %td.col-md-10= @work.orgtechnik_print_replace? ? "<i class='fa fa-check-square-o'></i>".html_safe : "<i class='fa fa-square-o'></i>".html_safe
                %tr
                  %td.col-md-2 Другое
                  %td.col-md-10= @work.orgtechnik_other? ? @work.orgtechnik_other_description : "<i class='fa fa-square-o'></i>".html_safe
              - if @work.inventory_move == 0 or @work.inventory_move == 2
                
              
                %tr
                  %td.col-md-2 Срочность
                  %td.col-md-10= ItDepartmentWork::WORK_TYPE[@work.work_type]
                %tr
                  %td.col-md-2 Исполнитель
                  %td.col-md-10= @work.user.name
                %tr
                  %td.col-md-2 Описание работы
                  %td.col-md-10= @work.work_description
                %tr
                  %td.col-md-2 Планируемое завершение
                  %td.col-md-10= @work.end_date.strftime("%d.%m.%Y")
                %tr
                  %td.col-md-2 Подразделение
                  %td.col-md-10= @work.department.name
                %tr
                  %td.col-md-2 Корпус, этаж, кабинет
                  %td.col-md-10= @work.detailed_client_place
                %tr
                  %td.col-md-2 Ф.И.О. заказавшего работу
                  %td.col-md-10= @work.client_name
                %tr
                  %td.col-md-2 Телефон заказавшего работу
                  %td.col-md-10= @work.client_telephone
              - if @work.inventory_move == 1 or @work.inventory_move == 2
                %tr
                  %td.col-md-2 Тип перемещения
                  %td.col-md-10= ItDepartmentWork::INV_MOVE_TYPE[@work.inventory_move_type.to_i]
                %tr
                  %td.col-md-2 МТЦ
                  %td.col-md-10= Inventory.find_by(id: @work.inventory.to_i).nil? ? @work.other_inventory : Inventory.find_by(id: @work.inventory.to_i).try(:name)
                %tr
                  %td.col-md-2 Исходное подразделение
                  %td.col-md-10= Department.find_by(id: @work.from_department_id).try(:name)
                %tr
                  %td.col-md-2 Корпус, этаж, кабинет
                  %td.col-md-10= @work.detailed_from_client_place
                %tr
                  %td.col-md-2 Ф.И.О. предыдущего мат. ответственного
                  %td.col-md-10= @work.inventory_move_from_client_name
                %tr
                  %td.col-md-2 Телефон предыдущего мат. ответственного
                  %td.col-md-10= @work.inventory_move_from_client_telephone
                %tr
                  %td.col-md-2 Конечное подразделение
                  %td.col-md-10= Department.find_by(id: @work.inventory_move_destination_department_id).try(:name)
                %tr
                  %td.col-md-2 Корпус, этаж, кабинет (конечное назначение)
                  %td.col-md-10= @work.inventory_move_destination_client_place
                %tr
                  %td.col-md-2 Ф.И.О. назначенного мат. ответственного
                  %td.col-md-10= @work.inventory_move_destination_client_name
                %tr
                  %td.col-md-2 Телефон назначенного мат. ответственного
                  %td.col-md-10= @work.inventory_move_destination_client_telephone

  .row
    %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
      #wid-id-0.jarviswidget.jarviswidget-color-red{:"data-widget-colorbutton" => "false", :"data-widget-editbutton" => "false", :"data-widget-sortable" => "false", :"data-widget-togglebutton" => "false", :"data-widget-deletebutton" => "false", :"data-widget-fullscreenbutton" => "false"}
        %header
          %h2
            %strong Изменение статуса
        %div
          .widget-body
            = form_for [:admin, @work], html: {class: "form-horizontal", novalidate: true}, remote: true do |f|
              .form-group
                %label.col-md-2.contol-label= f.label :status
                .col-md-10.smart-form
                  = label_tag :nil, class: "select #{"state-error" if !@work.errors[:status].empty? }" do
                    = f.select :status, options_for_select(ItDepartmentWork::STATUS.collect{|v,i| [v, ItDepartmentWork::STATUS.index(v)]}, selected: @work.status)
                    %i
              .form-actions
                = f.submit "Изменить", class: "btn btn-primary", id: "hide_this_btn"
  .row
    %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
      #wid-id-2.jarviswidget.jarviswidget-color-green{:"data-widget-colorbutton" => "false", :"data-widget-editbutton" => "false", :"data-widget-sortable" => "false", :"data-widget-togglebutton" => "false", :"data-widget-deletebutton" => "false", :"data-widget-fullscreenbutton" => "false"}
        %header
          %h2
            %strong Комментарии
        %div
          .widget-body
            = form_tag admin_it_department_works_create_comment_path, class: "form-horizontal", novalidate: true, remote: true do
              %fieldset
                = hidden_field_tag :work_id, @work.id
                .form-group
                  %label.col-md-2.contol-label Добавить комментарий
                  .col-md-10.smart-form
                    = label_tag :nil, class: "textarea" do
                      %i.icon-prepend.fa.fa-comment

                      = text_area_tag :comment, nil, placeholder: "Комментарий"
                .form-actions
                  = submit_tag "Отправить", class: "btn btn-lg btn-primary"
            - @work.it_department_work_comments.each do |comment|
              %blockquote
                %p= comment.comment
                %small= comment.created_at.strftime("%d.%m.%Y")
              

  = link_to 'Назад', "/admin#/admin/it_department/works"
:coffeescript
  $ ->
    pageSetUp()