= form_for [:admin, :directories, @user], html: {class: "form-horizontal"}, remote: true do |f|
  %fieldset
    %legend= "#{action_name == "new" ? "Создание" : "Редактирование"} пользователя"
    - if @user.errors.any?
      .alert.alert-danger.fade.in
        %button.close{:"data-dismiss" => "alert" }
          ×
        %h2= "Не удалось #{action_name == "new" ? "создать" : "отредактировать"} пользователя из-за ошибок:" 
        %ul
          - @user.errors.full_messages.each do |message|
            %li= message
    .form-group
      %label.col-md-2.contol-label= f.label :email
      .col-md-10.smart-form
        = label_tag :nil, class: "input #{"state-error" if !@user.errors[:email].empty? }" do
          = f.email_field :email
    .form-group
      %label.col-md-2.contol-label= f.label :password
      .col-md-10.smart-form
        = label_tag :nil, class: "input #{"state-error animated flash" if !@user.errors[:password].empty? }" do
          = f.password_field :password
    .form-group
      %label.col-md-2.contol-label= f.label :name
      .col-md-10.smart-form
        = label_tag :nil, class: "input #{"state-error" if !@user.errors[:name].empty? }" do
          = f.text_field :name
    .form-group
      %label.col-md-2.contol-label= f.label :role
      .col-md-10.smart-form
        = label_tag :nil, class: "select #{"state-error" if !@user.errors[:role].empty? }" do
          = f.select :role, options_for_select(User::ROLES.invert), selected: @user.role
          %i
    .form-group
      .col-md-2
      .col-md-10.smart-form
        = label_tag nil, class: "checkbox inline-block", style: "padding-top: 0" do
          = f.check_box :boss
          <i></i>
          = f.label :boss
    .form-actions
      = f.submit "#{action_name == "new" ? "Создать" : "Отредактировать"}", class: "btn btn-lg btn-primary"
%br
:coffeescript
  runAllForms()

  $ ->

    $("#new_user").validate({
      rules : {
        "user[email]" : {
          required : true,
          email : true
        },
        "user[password]" : {
          required : true,
          minlength : 4,
          maxlength : 128
        }
      },

      messages : {
        "user[email]" : {
          required : 'Введите ваш E-mail',
          email : 'Неверный формат E-mail'
        },
        "user[password]" : {
          required : 'Введите пароль'
          minlength: 'Минимум 4 символа'
        }
      },

      errorPlacement : (error, element) ->
        error.insertAfter(element.parent());
    })