%h1 Список пользователей
= alerts_and_notices
%section#widget-grid
  .row
    %article.col-xs-12.col-sm-12.col-md-12.col-lg-12{width: "100%"}
      #wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false", "data-widget-togglebutton" => "false", "data-widget-deletebutton" => "false", "data-widget-fullscreenbutton" => "false", "data-widget-custombutton" => "false", "data-widget-sortable" => "false"}
        %header
          %h2
            Список пользователей
        %div
          .widget-body.no-padding
            %table#users_table.table.table-striped.table-bordered.table-hover{width: "100%"}
              %thead
                %tr
                  %th{colspan: 4}
                    = link_to "Создать пользователя", "#/admin/directories/users/new", class: "btn btn-primary"
                %tr
                  %td.hasinput
                    %input#email_filter.form-control.input-xs{type: "text", placeholder: "E-mail", style: "width: 100%"}
                  %td.hasinput
                    %input#name_filter.form-control.input-xs{type: "text", placeholder: "Ф.И.О.", style: "width: 100%"}
                  %td.hasinput
                    %select#role_filter.form-control.input-xs{style: "width: 100%"}
                      %option{value: nil} Уровень доступа
                      - User::ROLES.each do |r|
                        %option{value: r[0]}= r[1]
                  %td.hasinput
                %tr
                  %th E-mail
                  %th Ф.И.О.
                  %th Уровень доступа
                  %th Действия
              %tbody

:coffeescript
  $ ->
    pageSetUp();

    responsiveHelper_dt_basic = undefined
    responsiveHelper_datatable_fixed_column = undefined
    responsiveHelper_datatable_col_reorder = undefined
    responsiveHelper_datatable_tabletools = undefined

    breakpointDefinition = { tablet : 1024, phone : 480 }

    $('#users_table').DataTable( {
      "language": {
        "url": "/dataTables.ru_lang.json"
      },
      "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "Все"]],
      "serverSide": true,
      "autoWidth" : true,
      "ajax": {
        type: "POST",
        url: "/admin/directories/users/get_table"
      },
      columns: [
        { "data": "email" },
        { "data": "name" },
        { "data": "role" },
        { "data": "actions", sortable: false }
      ],
      "colVis": {
        "buttonText": "Выбрать столбцы"
      }
      "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'l' 'T' 'C>r>"+
            "t"+
            "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
      "preDrawCallback" : () ->
        if !responsiveHelper_datatable_fixed_column
          responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#users_table'), breakpointDefinition)
      ,
      "rowCallback" : (nRow) ->
        responsiveHelper_datatable_fixed_column.createExpandIcon(nRow)
      ,
      "drawCallback" : (oSettings) ->
        responsiveHelper_datatable_fixed_column.respond();
      ,

      "oTableTools": {
        "aButtons": [
          "copy",
          "csv",
            {
              "sExtends": "print",
              "sMessage": "Список пользователей <i>(Нажмите Esc для выхода)</i>"
            }
        ],
        "sSwfPath": "/tools/copy_csv_xls_pdf.swf"
      }

    } );

    $("#users_table thead td input[type=text], #users_table thead td select").on( 'keyup change', () -> 
      $('#users_table').DataTable().column( $(this).parent().index()+':visible' ).search( this.value ).draw()
    );