= alerts_and_notices
%section#widget-grid
  .row
    %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
      #wid-id-0.jarviswidget.jarviswidget-color-darken{:"data-widget-colorbutton" => "false", :"data-widget-editbutton" => "false", :"data-widget-sortable" => "false", :"data-widget-togglebutton" => "false", :"data-widget-deletebutton" => "false", :"data-widget-fullscreenbutton" => "false"}
        %header
          %h2
            %strong Новый пользователь
        %div
          .widget-body
            = render 'form'
            = link_to 'Назад', "/admin#/admin/directories/users"
:coffeescript
  $ ->
    pageSetUp()