%p="Добрый день, #{@name}!"

%p="Вы можете подтвердить Вашу учетную запись, перейдя по ссылке:"

%p= link_to 'Подтвердить мою учетную запись', confirmation_url(@resource, :confirmation_token => @token)

%p
  Если ссылка не отобразилась, вручную скопируйте и вставьте в адресную строку браузера код подтверждения:
  %br
  = confirmation_url(@resource, :confirmation_token => @token)