%h1 Личный кабинет пользователя
= alerts_and_notices
%section#widget-grid
  .row
    %article.col-xs-12.col-sm-12.col-md-12.col-lg-12{width: "100%"}
      #wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false", "data-widget-togglebutton" => "false", "data-widget-deletebutton" => "false", "data-widget-fullscreenbutton" => "false", "data-widget-custombutton" => "false", "data-widget-sortable" => "false"}
        %header
          %h2
            График выполненных работ IT-Отдела (За последние 6 месяцев)
        %div
          .widget-body.no-padding
            #it_department_works.chart
              #legendPlaceholder
              #flotcontainer{style: "width: 100%;height:200px; text-align: left;"}
